/* line 6, ../sass/styles.scss */
body {
  background-color: #ffffff; }

/* line 10, ../sass/styles.scss */
h1, h2, h3, h4, h5 {
  color: #0099ff;
  font-weight: bold; }

/* line 15, ../sass/styles.scss */
.tagline {
  color: #333333;
  font-style: italic;
  font-weight: bold;
  font-size: 12px; }

/* line 22, ../sass/styles.scss */
footer {
  font-size: 12px; }
