$logocolor : #0099ff;
$background:#ffffff;
$tagline:#333333;
$footer:#990000;

body {
background-color: $background;
}

h1,h2,h3,h4,h5 {
color: $logocolor;
font-weight: bold;
}

.tagline {
color: $tagline;
font-style: italic;
font-weight: bold;
font-size: 12px;
}

footer {
font-size: 12px;
$footer:#990000;
}

.mongol:hover, .mongol:focus {
transform: rotateY(360deg);
transform:skew(15deg);
transition: 1s all;
}

.iffie:hover, .iffie:focus {
transform: rotateX(360deg);
transition: 2s all;
}
